// standard colours
$color-primary: rgb(1, 117, 218);
$color-secondary: rgb(128, 128, 128);
$color-tertiary: rgb(240, 240, 240);
$color-success: rgb(24, 135, 84);
$color-warning: rgb(182, 1, 0);
$color-danger: rgb(255, 239, 53);
$color-info: rgb(25, 161, 185);
$color-white: rgb (255, 255, 255);
$color-black: rgb (0, 0, 0);
