:root {
    --black: #000;
    --black22: #222222;
    --grey66: #666666;
    --greyBA: #bababa;
    --greyCD: #cdcdcd;
    --greyEF: #efefef;
    --white: #FFFFFF;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-bottom: 2px;
    border-radius:25px
    }

    

.dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover

{
    color: var(--black22) !important;
    border: 1px solid grey;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,var(--greyBA)), color-stop(100%, var(--greyCD)));
    background:-webkit-linear-gradient(top, var(--greyBA) 0%, var(--greyCD) 100%);
    background:-moz-linear-gradient(top, var(--greyBA) 0%, var(--greyCD) 100%);
    background:-ms-linear-gradient(top, var(--greyBA) 0%, var(--greyCD) 100%);
    background:-o-linear-gradient(top, var(--greyBA) 0%, var(--greyCD) 100%);
    background:linear-gradient(to bottom, var(--greyBA) 0%, var(--greyCD) 100%)
    
}

.dataTables_filter label {
    background-color: var(--greyEF);
    color: var(--black22);
}

body.dark .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: var(--black) !important;
}

 body.dark .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover

{
    color: var(--grey66)!important;   
} 

body.dark .dataTables_filter label {
    background-color: var(--black22);
    color: var(--greyEF);
}

body.dark .dataTables_wrapper .dataTables_filter input {
    color: var(--white);
}

body.dark .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color:var(--black) !important;
    border:1px solid var(--greyCD);
    background-color:var(--white);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--greyBA)), color-stop(100%, var(--greyCD)));
    background:-webkit-linear-gradient(top, var(--white)  0%, var(--greyCD) 100%);background:-moz-linear-gradient(top, var(--greyCD) 0%, var(--greyCD) 100%);
    background:-ms-linear-gradient(top, var(--white)  0%, var(--greyCD) 100%);
    background:-o-linear-gradient(top, var(--white)  0%, var(--greyCD) 100%);
    background:linear-gradient(to bottom, var(--white)  0%, var(--greyCD) 100%)
    }
    
    body.dark .dataTables_wrapper .dataTables_paginate .paginate_button {
        color: var(--white) !important;
    }

body.dark .select2-selection__choice {
    color: var(--black)!important;
}
  