/* Global font */

body {
    font-family: 'Quicksand', sans-serif;;
    background: #efefef;
    color: #000;
    margin-top: 80px;
}

.navbar strong {
    font-weight: 700;
    color: #047abe;
}

#customerSelection {
    background: #efefef;
    color: #000; 
}

/* Log in and signup forms */

.signUpContent, .logInContent {
    background-color:#ffffff;
    border-radius: 25px;
    border-width: 2px;
    padding:20px 30px 15px 30px;
    width: 420px;
    margin: 50px auto;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date]
input[type=number]
  {
    background-color: #f8f8ff;
    border: 1px solid;
    border-radius: 7px;
    color: #222222;
    margin: auto;
    padding: 5px 15px; 
    display: fill;
    width: 100%;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover  {
    background-color: #cdcdcd;
    
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus  {
    background-color: rgba(220, 188,188,.33);
    
}

label {
    background-color: #efefef;
    color: #222222;
}

.form-submit {
    display: center;
    width: 60%;
}

.form-input:hover {
    background-color: #dedede;
}

.noActive {
    color: #3276B1;
    background-color: white;
}

.modal-dialog {
    padding-top: 5%;
}

.settings-dialog {
    background-color: #e0e0e0;
    margin-top: 5px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    padding: 20px;
}

.settings-dialog label {
    background-color: #e0e0e0;
    line-height: 1;
}

.listHeader {
    margin-top: 50px;
    margin-bottom: 20px;
    color:#0078bd;
}



/* #showAccountInfo label, #showAccountInfo input {
    line-height: 1;
} */

.homeTable thead {
    background-color: #efefef;
    color: #444444;
}

table {
    background-color: #f8f8f8;
}
body.dark table {
    background-color: #666666;
}

thead, tfoot {
    background-color: #d0e0f0;
    color: #444444;
}

tbody {
    background-color: #ffffff;
    color: #444444;
}

table.table-bordered > thead > tr > th 
{
    border: 1px solid #aaaaaa;
    padding: 8px 3px;
}

table.table-bordered > tfoot > tr > th 
{
    border: 1px solid #aaaaaa;
    padding: 3px 3px;
}

table.table-bordered > tbody > tr > td {
    border: 1px solid #aaaaaa;
    padding: 1px 0;
    overflow-wrap:break-word;
}
table.table-bordered > tbody > tr:hover {
    background-color: #cdcdcd;;
    color:#444444;
} 



.custom-select {
    border: 1px solid;
    border-radius: 7px;
}

.reminderScreen {
    font-weight: bold;
    color: #b60000;
}

.collapsible {
    background-color: #ffaaaa;
    color: #444444;
    cursor: pointer;
    padding: 6px 6px;
    border: none;
    text-align: center;
    outline: none;
    margin-top: 2px;
    margin-right: 2px;
    font-size: 12px; 
    width: 15%;
}

/* .active, .collapsible:hover {
    background-color: #cc8888;
} */

.canCollapse {
    display: none; 
    overflow: hidden;
}



/* DARK MODE */

body.dark input[type=text],
body.dark input[type=date],
body.dark input[type=email],
body.dark input[type=password],
body.dark input[type=number],
body.dark select,
body.dark textarea {
    background-color: #545454;
    color: #eeeeee; 
}

body.dark label {
    background-color: #454545;
    color: #efefef;
}

body.dark .scrollBox {
    background-color: #454545;
    color: #efefef;
}

body.dark .settings-dialog {
    background-color: #454545;
    color: #efefef;
}

/* body.dark .informationBox {
    background-color: #454545;
    color: #efefef;
} */

body.dark .homeTable thead {
    background-color: #444444;
}
body.dark table {
    background-color: #666666;
}

body.dark thead, body.dark tfoot, body.dark tbody  {
    background-color: #666666;
    color: #efefef;
}

body.dark .listHeader {
    /* color:#83cbf1; */
    color:#1E90FF;
    
}

body.dark input[type=text]:hover,
body.dark input[type=email]:hover,
body.dark input[type=password]:hover  {
    background-color: #aaddaa;
    
}

body.dark input[type=text]:focus,
body.dark input[type=email]:focus,
body.dark input[type=password]:focus  {
    background-color: rgba(188, 220,188,.33);
    
}

body.dark table.table-bordered > thead > tr > th,
body.dark table.table-bordered > tfoot > tr > th {
    border: 1px solid #888888;
}

body.dark table.table-bordered > tbody > tr > td {
    border: 1px solid #888888;
}

.filterBox {
    background-color: #efefef;
    border-radius: 6px;
}

body.dark .filterBox {
    background-color:#454545;
    border-radius: 6px;
}

body.dark #customerSelection{
    color: #eeeeee;
    background-color: #222222;
   }

body.dark table.table-bordered > tbody > tr:hover {
    background-color: #aaddaa;
    color: #444444;
} 

body.dark .reminderScreen {
    font-weight: bold;
    color: rgba(182,0,0,0.75);
}

.btn-file-input {
    position: relative;
    overflow: hidden;
}
.btn-file-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

/* Icons */
.yesIcon, .noIcon, .pendingIcon {
    opacity: 1;
}

body.dark .yesIcon, 
body.dark .noIcon, 
body.dark .pendingIcon {
    opacity: 0.6;
}

.dateColour {
    background-color: #ffffff;
}

body.dark .dateColour {
    background-color: #222222;
}


div.container { max-width: 1200px }

#pBlueSky {
    padding-left: 5px;
    background-color: #1E90FF;
}

#pLow  {
    padding-left: 5px;
    background-color: #00FF00;
}
#pMedium {
    padding-left: 5px;
    background-color: #FFF035;
}
#pHigh {
    padding-left: 5px;
    background-color: #FF8888;
}
#pCritical {
    padding-left: 5px;
    background-color: #b60000;
}
body.dark #pBlueSky {
    padding-left: 5px;
    background-color: #1E90FF;
}

body.dark #pLow  {
    padding-left: 5px;
    background-color: rgba(0,255,0,0.5);
}
body.dark #pMedium {
    padding-left: 5px;
    background-color: rgba(255,240,53,0.5)
}
body.dark #pHigh {
    padding-left: 5px;
    background-color: rgba(255,136,136,0.5);
}
body.dark #pCritical {
    padding-left: 5px;
    background-color: rgba(182,0,0,0.75);
}
.dhinstall, .dhd {
    position: absolute;
    right: 20px;
    border: 1px solid;
    border-radius: 7px;
    padding: 5px;
    background-color: #FFF;
}

body.dark .dhinstall, body.dark .dhd {
    background-color: #888888;
}

.dhinstallbutton, .dhdbutton {
    border-radius:50px;
}

.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    background-color: white;
    font-size: 115%;
    padding-left: 8px;
  }
  
  #checkboxes label {
    display: block;
    background-color: white;
    padding-top:2px;
  
  }
  
  #checkboxes label:hover {
    background-color: rgba(236,204,204);
  }

  body.dark #checkboxes {
    background-color: #555555;
  }

  body.dark #checkboxes label {
    background-color: #555555;
  }

  body.dark #checkboxes label:hover {
    background-color: #222222;
  }

.navbar-wrap {
    transition: top 0.2s;
}

.showVRNPlate {
    border-width: 0;
    background-color: #FFF035;
    color: 0;

}

.uploadFormatDetails {
    background-color: #fffff4;
    border: 1px solid #b60000;
    border-radius: 8px;
    color: #222222;
    margin-top: 30px;
    padding: 10px;
}

body.dark .uploadFormatDetails {
    background-color: #000000;
    border-color: #77ff77;
    color: #fffff4;
}

/* FILE DROP ZONE */
#dropZone {
    background-color: white;
    border: #222222 5px dashed;
    font-size: 18px;
    margin-top: 2rem;
    padding: 8px;
    width: 50%;
}
body.dark #dropZone {
    background-color: #000000;
    border: #77ff77 5px dashed;
}

#fileDragUpload {
    margin: 0 auto;
    text-align: center;
}

#fileDragUpload p {
    text-align: center;
}

#fileDragUpload img {
    margin: 60px auto;
    margin-bottom: 0;
}
#fileDragUpload #selectFile {
    display: none;
}

#uploadFileButton, #uploadDeviceButton {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 0.1rem;   
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
       .table td, .table th {
        font-size: 12px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .table td, .table th {
        font-size: 13px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        font-size: 14px;
    }
    .table td, .table th {
        font-size: 12px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        font-size: 15px;
    }
    .table td, .table th {
        font-size: 8px;
    }
    .navbar{
        font-size: 13px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 16px;
    }
    .table td, .table th {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1580px) {
    .navbar{
        font-size: 13px;
    }
}


@media only screen and (min-width: 1581px) {
    .navbar{
        font-size: 16px;
    }
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}


